<header class="header">
  <div class="header-container container">
    <a class="linc-logo" href="./index.html">
      <svg class="svg-logo" width="40" height="36">
        <use href="/img/sprite.svg#icon-logo"></use></svg
      >Product</a
    >

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-linc" href="./index.html"
            ><span class="header-nav-accent">Product</span></a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-linc" href="./pricing.html">Pricing</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-linc" href="./customer.html">Customers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-linc" href="./resourses.html">Resources</a>
        </li>
      </ul>
    </nav>
    <ul class="header-list">
      <li class="header-item">
        <button class="header-btn-sign-in" type="button">Sign In</button>
      </li>
      <li class="header-item">
        <button class="header-btn-sign-up" type="button">Sign Up</button>
      </li>
      <li class="header-item"></li>
    </ul>
    <a href="#">
      <svg class="btn-dark" width="24" height="24">
        <use href="/img/sprite.svg#icon-frame"></use>
      </svg>
    </a>
    <button class="menu-open-btn" data-menu-open>
      <svg class="btn-menu" width="24" height="24">
        <use href="/img/sprite.svg#icon-menu-mob"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu" data-menu>
    <div class="container mob-menu-child">
      <button class="mob-close-btn" data-menu-close>
        <svg class="icon-close" width="10" height="10">
          <use href="/img/sprite.svg#icon-close-black"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <ul class="menu-nav-list">
          <li class="menu-nav-item">
            <a class="menu-nav-linc" href="./index.html"
              ><span class="menu-nav-accent">Product</span></a
            >
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-linc" href="./pricing.html">Pricing</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-linc" href="./customer.html">Customers</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-linc" href="./resourses.html">Resources</a>
          </li>
        </ul>
      </nav>
      <ul class="menu-list">
        <li class="header-item">
          <button class="header-btn-sign-in" type="button">Sign In</button>
        </li>
        <li class="header-item">
          <button class="header-btn-sign-up" type="button">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>
</header>
