<section class="hero">
  <div class="hero-container container">
    <picture>
      <source
        class="hero-img"
        media="(min-width: 1150px)"
        srcset="
          /img/index/hero/hero-img-min.png    1x,
          /img/index/hero/hero-img@2x-min.png 2x
        "
        width="610"
        height="555"
      />
      <source
        class="hero-img"
        media="(max-width: 1109px)"
        srcset="
          /img/index/hero/people-mob-min.png    1x,
          /img/index/hero/people-mob@2x-min.png 2x
        "
      />

      <img
        class="hero-img"
        src="/img/index/hero/hero-img-min.png"
        alt="people"
        width="338"
        height="311"
      />
    </picture>

    <div class="hero-container-child">
      <h1 class="hero-title">
        Work at the speed<br />
        of thought
      </h1>
      <p class="hero-text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-list">
        <li class="hero-item">
          <button class="hero-btn-get-started" type="button">
            Get started
          </button>
        </li>
        <li class="hero-item hero-item-two">
          <svg class="hero-btn-img" width="20" height="18">
            <use href="./imajes/icons.svg#icon-triangle"></use>
          </svg>
          <button class="hero-btn-watch-video" type="button">
            Watch the Video
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
